.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mat-form-field{
  display: flex;
  justify-content: center;
}

.actions{
  margin-top: 20px;
}
