<div class="container">
  <form [formGroup]="registerAccountForm" (submit)="Register()">
    <mat-card fxLayout="column" fxLayoutGap="10px" class="example-card">
      <h1>Register account.</h1>

      <mat-form-field>
        <mat-label>Enter Username</mat-label>
        <input matInput type="text" formControlName="username">
        <mat-error>{{getUsernameErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error>{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>

      <div class="error-message" *ngIf="(registerAccountForm.controls['username'].errors && registerAccountForm.controls['username'].touched)
             || (registerAccountForm.controls['password'].invalid && registerAccountForm.controls['password'].touched)">
        {{getErrorMessage()}}
      </div>

      <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="!registerAccountForm.valid">Confirm</button>
        <a routerLink="" mat-button color="warn">Back</a>
      </div>
    </mat-card>
  </form>
</div>
