.container{
  padding-bottom: 30px;
}

mat-card{
  width: 50%;
  margin:auto;
}

.mat-form-field{
  display: flex;
  justify-content: center;
}

.new-post-button{
  display: flex;
  justify-content: center;
}


